---
import Section from "../Section.astro";
import {languages} from 'cv-es.json'
---

<Section title="Idiomas">
    <ul>
        {
            languages.map(({language, fluency, url}) => (
              <li>
                <a href={url}>
                    {language} {fluency}
                </a>
                  
              </li>
            ))
        }
    </ul>
</Section>

<style>
    ul{
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li{
        border-radius: 6px;
        background: #9999;
        color: #000;
        font-size: .8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

    li a{
        color: #000;
    }
</style>